@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

@layer utilities {
  .scrollbar-hide {
    /* For Firefox */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
